{% extends "base.html" %}
{% load static %}
{% block style %}
<style>

.data-img:hover {
  cursor: pointer;
}
</style>

{% endblock style %}

{% block content %}

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/broken_car.jpg'%});">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">
          {% comment %}  after email sending {% endcomment %}
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
        {% comment %} done {% endcomment %}

            <div class="mb-5 element-animate">
              <h1>Maşınınızı kəşf edin.</h1>
              <p>Vinkodunuzu  yazaraq maşının tarixini öyrənin</p>
            </div>
          <form class="form-inline element-animate" method="POST" id="search-form">
          {% csrf_token %}
          <input type="text" name='search-btn' class="form-control search-val form-control-block search-input" id="autocomplete" placeholder="Vikodunuzu buraya yazin" >
          <button type="submit" class="btn btn-primary search-btn ">Axtar</button>
        </form>

          </div>
        </div>
      </div>
    </section>
{% endblock content %}


 {% block service %}
     <section class="feature-destination" id='info-data'>
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">
                <style>
                .custom-size{
                  bottom:40px;
                }
                </style>
            <h1 class='text-white custom-size position-absolute '>Maşınınızı yoxlanışdan keçirin</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 element-animate ">
            <a id="myBtn1"  class="img-bg" style="background-image: url({% static 'images/electic.jpg'%}">
              <div class="text">
                <h2 class='font-weight-bold'>Elektrik hissələrini</h2>
                <p>yoxlanışdan keçirin</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a id="myBtn2"  class="img-bg" style="background-image: url({% static 'images/motor.jpg'%})">
              <div class="text">
                <h2  class='font-weight-bold '>Mühərriyinizi</h2>
                <p>yoxlanışdan keçirin</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a  id="myBtn3" class="img-bg last" style="background-image: url({% static 'images/full.jpg'%})">
              <div class="text">
                <h2  class='font-weight-bold'>Hərşeyini</h2>
                <p>yoxlanışdan keçirin</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

<!-- The Modal -->
<div id="myModal" class="modal" data-aos="zoom-in">

  <!-- Modal content -->
  <div class="modal-content"  >
    <span class="close">&times;</span>
    <p>
    Şirkətimiz tərəfindən siz maşının elektrik , mühərriyini və ya hər bir detalını  yoxlanışdan keçirdə bilərsiniz
   <h6>Əlaqə</h6>
   <a href="tel:+994776433352">+994776433352</a>
   <h6>Ünvan</h6>
   <p>Vincode Azerbaijan - Mikayıl Müşfiq küç.2H, AZ 1004 Baku, Azerbaijan</p>
    </p>
  </div>

</div>


<section class="feature-destination" id='back-data'>
      <div class="container">
   <div class="row" id='slideContainer'>
          <div class="col-md-4 element-animate chosen-img">
              <div class="chosen-img chosed">
              <img src="https://www.hondafsj.com/dist/img/nophoto.jpg" class='rounded img-thumbnail zoom-photo' alt="">
              </div>
              
          </div>
          <div class="col-md-8" id='data' style='background-color:white;'>
              <div class="text row">
                    <div class="col-6 mt-4">
                        <p><strong>Marka</strong></p>
                        <p><strong>Model</strong></p>
                        <p><strong>Rəng</strong></p>
                        <p><strong>Mühərrik</strong></p>
                        <p><strong>Vəziyyət</strong></p>
                        <p><strong>Əsas zədə</strong></p>
                        <p><strong>Kiçik zədə</strong></p>
                    </div>
                    <div class="col-6 mt-4">
                      <p id='make'>{{data.Make}}</p>
                      <p id='model'>{{data.Model}}</p>
                      <p id='color'>{{data.Color}}</p>
                      <p id='engine'>{{data.Engine}}</p>
                      <p id='condition'>{{data.Condition}}</p>
                      <p id='primary_damage'>{{data.Primary_damage}}</p>
                      <p id='secondary_damage'>{{data.Secondary_damage}}</p>
                    </div>
              </div>
            </a>
          </div>
       
        </div>
        <div class="row">
            <div class="col-md-12 images-data">
            </div>
        </div>
       </div>
      </div>
      </div>
  </section>


  {% endblock service %}

  {% block script %}
  <script>
  AOS.init();
</script>
  {% endblock script %}
