
    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <ul class="list-unstyled ">
              <li class="d-flex"><span class="mr-3"><span class="icon ion-ios-location"></span></span><span class="">34 , Baku,Azerbaijan</span></li>
              <li class="d-flex"><span class="mr-3"><span class="icon ion-ios-telephone"></span></span><span class=""><a href="telephone:+994776433352">+994776433352</a></span></li>
              <li class="d-flex"><span class="mr-3"><span class="icon ion-email"></span></span><span class=""><a href="emailto:elvin.ceferov.bmu@gmail.com">elvin.ceferov.bmu@gmail.com</a></span></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="mb-4">Links</h3>
            <ul class="list-unstyled ">
              <li><a href="#">Əsas səhifə</a></li>
              <li><a href="#">Haqqımızda</a></li>
              <li><a href="#">Əlaqə</a></li>
            </ul>
          </div>
   
          <div class="col-md-4">
            <h3>Sosial şəbəkələrimiz</h3>
            <p>
              <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
            </p>
          </div>
        </div>
      </div>
    </footer>